<%= form_for(@my_image) do |f| %>
  <% if @my_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_image.errors.count, "error") %> prohibited this my_image from being saved:</h2>

      <ul>
      <% @my_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :memories %><br>
        <%= f.text_area :memories, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :picture %><br>
        <%= f.file_field :picture %>
      </div>
      <div class="form-group">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
